    body {
    margin:auto; 
    background: #E6E6FA;
    max-width:850px
        }
    
    header {
    border-top: 3px solid #586674;
    border-bottom: 3px solid #586674;
    text-align:center;
    colour:#586674
    }
    
    main {
    color:#778899;
    text-align:justify;
    }
    
    footer {
    text-align:center;
    border-top:2px solid #586674;
    border-bottom:2px solid #586674;
    }
    
    a {
    color:#586674;
    }
    
    img {
    align:center
    }
