body {
  font-family: "Poppins";
  background: #E6E6FA;
  color: #778899;
  text-align:justify;
  margin: 15px;
}

header {
  border: 3px solid #6a6ae2;
  margin: 20px;
  text-align:center;
}
  
h1 {
  colour: #586674;
  size: 100;
  text-align:left;
}

h2 {
  colour: #586674;
  size: 80;
  text-align:left;
}

h3 {
  colour: #586674;
  size: 60;
  text-align:left;
}

footer {
  text-align:center;
  margin-top: 2px solid #6a6ae2;
}
